@font-face {
    font-family: moria;
    src: url(../../assets/fonts/Moria.TTF);
}

@font-face {
    font-family: magic;
    src: url(../../assets/fonts/MagicMedieval.ttf);
}

@font-face {
    font-family: chancery;
    src: url(../../assets/fonts/Chancery.TTF);
}


.about {
    background-image: url("../../assets/images/dm_bg.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

.about h1 {
    font-family: moria;
    font-size: 3rem;
    margin-top: 2rem;
}

.about-bg {
    width: 75%;
    background-color: rgba(100, 100, 100, 0.8);
    text-align: center;
    margin: auto;
}

.feature-list {
    font-family: magic;
    text-shadow: 2px 2px black;
    list-style: none;
    font-size: 1.5rem;
}

p {
    font-family: chacery;
}

.about button[type="login"]{
    display: flex;
    margin: auto;


}

.login-btn p {
    font-family: magic;
 
    font-size: 1.2rem;
}