.DM-Page {
    background-image: url(../../assets/images/dm_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.dmScreen {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

iframe {
    max-width: 90vw;
    max-height: 90vh;
}

.target {
    width: 50%;
    min-height: 200px;
    border: 1px solid grey;
}

.item-container {
    width: 40%;
}

.item {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
    color: white;
}

.newCharacterInput {
    margin-top: 2rem;
}

.buttonCol {
    padding-left: 2.5rem;
}

Col {
    border: none;
}

.tracker {
    background-color: rgba(102, 102, 102, 0.7);
    margin: 1rem 3rem;
}