.DM-Page {
    background-image: url(../../assets/images/dm_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.DM-Page .dmScreen {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.DM-Page iframe {
    max-width: 90vw;
    max-height: 90vh;
}

.DM-Page .target {
    width: 50%;
    min-height: 200px;
    border: 1px solid grey;
}

.DM-Page .item-container {
    width: 40%;
}

.DM-Page .item {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
    color: white;
}

.DM-Page .newCharacterInput {
    margin-top: 2rem;
}

.DM-Page .buttonCol {
    padding-left: 2.5rem;
}

.DM-Page .tracker {
    background-color: rgba(42, 23, 44, 0.8);
    margin: 1rem 3rem;
}

.DM-Page textarea {
    width: 100rem;
    height: 20rem;
    max-width: 40vw;
}