.monsterBody {
    background-image: url("../../assets/images/Monster_BG.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position-y: 45%;
    background-position-x: 50%;
    width: 100%;
    min-height: 100vh;
}

.monsterTable {
    padding: 3rem;
}

.monsterBody form {
    width: 25vw;
}

.monsterBody .mainStats {
    color: white;
    background-color: rgba(41, 41, 41, 0.9);
    font-size: 1.1rem;
}

.monsterBody .secondaryStats {
    color: white;
    background-color: rgba(41, 41, 41, 0.9);
    padding-top: 1rem;
}

.monsterBody p {
    font-size: 1.5rem;
}

.monsterBody .special {
    color: white;
    background-color: rgba(41, 41, 41, 0.9);
    margin: 0rem 4rem 1rem 4rem;
}