@font-face {
    font-family: moria;
    src: url(../../assets/fonts/Moria.TTF);
}

@font-face {
    font-family: magic;
    src: url(../../assets/fonts/MagicMedieval.ttf);
}

@font-face {
    font-family: chancery;
    src: url(../../assets/fonts/Chancery.TTF);
}


.mainStats,
.description,
.special {
    padding: 1rem;
}

.spellBody {
    background-image: url("../../assets/images/spellbook-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position-y: 25%;
    background-position-x: 50%;
    width: 100%;
    min-height: 100vh;
}

.spellBody Button {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.spellTable {
    padding: 3rem;
}

.description {
    color: white;
    text-shadow: 1px 1px rgb(100, 100, 100);
    background-color: rgba(41, 41, 41, 0.9)
}